# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Environment variables
.env
.env.local

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
